# This action fetches a file using HTTP GET and executes the build command "build.sh" from the current repo.
# The command uses an environment variable ASTROLOG_VERSION to configure the HTTP URL.
name: Fetch and Build Astrolog

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'

permissions:
  contents: read
  packages: write
  security-events: write

env:
  # Setting an environment variable with the value of a configuration variable
  ASTROLOG_VERSION: ${{vars.ASTROLOG_VERSION}}

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python_version: ['3.10', '3.11', '3.12', '3.13', '3.14']

    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Run build
      run: |
        docker build --build-arg ASTROLOG_VERSION=${{ env.ASTROLOG_VERSION }} --build-arg LAMBDA_VERSION=${{ matrix.python_version }} -t aws-lambda-astrolog-py${{ matrix.python_version }} .
        docker images
        docker save -o aws-lambda-astrolog.tar aws-lambda-astrolog-py${{ matrix.python_version }}
        tar xvf aws-lambda-astrolog.tar repositories
        LAYER="blobs/sha256/$(cut -d\" -f6 repositories)"
        tar xvf aws-lambda-astrolog.tar $LAYER
        tar xvf $LAYER
        rm -rf aws-lambda-astrolog.tar repositories blobs
        ls ./out

    # Add a step to upload the build artifact to a release or other storage location
    - name: Upload build artifact
      uses: actions/upload-artifact@v6
      with:
        name: aws-astrolog-bin-${{ env.ASTROLOG_VERSION }}-python${{ matrix.python_version }}
        path: out/*.zip
        compression-level: 0
    
    # Create a GitHub release when triggered by a tag
    - name: Create Release
      if: startsWith(github.ref, 'refs/tags/')
      uses: softprops/action-gh-release@v1
      with:
        files: out/*.zip
        generate_release_notes: true
        draft: false
        prerelease: false
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

